
.details-container {
    gap: 60px;
}

.details-form, .edit-form {
    background-color: #f4f7fc;
    width: 400px;
    border-radius: 10px;
}

.details-form-upper {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}

.details-form-actions {
    display: flex;
    padding-inline: 20px;
    gap: 20px;
    cursor: pointer;
    align-items: center;
}

    .details-form-actions a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

.details-form-edit-action {
    color: green;
}

.details-form-delete-action {
    color: red;
}


.details-form-under {
    padding: 30px;
}

.details-form-under-group {
    display: flex;
    flex-direction: row;
}

.details-form-under-label {
    width: 200px;
    font-weight: bolder;
}

.details-form-under-data {
    color: dimgray;
}

.details-child-elements {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f7fc;
    border-radius: 10px;
    gap: 20px;
}

.edit-form {
    padding: 40px;
    row-gap: 20px;
}

.edit-form-group {
    display: flex;
    flex-direction: column;

}

.edit-form-label{
    font-weight: bolder;
}
