.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 700px;
    color: var(--main-color);
    font-weight: 700;
    z-index: 5;
    background-color: white;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-icon {
    color: var(--main-color);
}

.dalcomnet-copy {
    display: flex;
    justify-content: start;
    color: var(--main-color);
    text-decoration: none;
}