@using BookManagementSystem.UI.Models
@using BookManagementSystem.UI.Services.Base;
@using BookManagementSystem.UI.UnitOfWork;
@using BookManagementSystem.UI.Components;

@page "/authors"
@inject IUnitOfWork unitOfWork;
@inject NavigationManager navigationManager;

<PageTitle>Authors</PageTitle>

@if (Authors == null)
{
    <p>Loading...</p>
}
else
{

    <h1>Authors</h1>
    <hr />
    <p class="">@TotalPages</p>
    <Table Items=Authors TItem=AuthorPagedListVM Routes=Routes />
    <Button OnClick="@RefreshData" Text="Refresh data" />

}



