@using BookManagementSystem.UI.UnitOfWork
@page "/author"
@inject IUnitOfWork unitOfWork;
@inject NavigationManager navigationManager;

<PageTitle>Author edit</PageTitle>
<h3>Edit author</h3>
<hr />

<EditForm Model="@Author" OnValidSubmit="HandleSubmit" class="edit-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="name">Author name</label>
        <InputText id="name" @bind-Value="@Author!.AuthorName" />
    </div>
    <div>
        <label for="birthYear">Birth year</label>
        <InputNumber id="birthYear" @bind-Value="@Author.BirthYear" />
    </div>
    <div>
        <label for="biography">Biography</label>
        <InputTextArea id="biography" @bind-Value="@Author.Biography" />
    </div>
    <button style="display: none" type="submit"></button>
</EditForm>

