@using BookManagementSystem.UI.UnitOfWork
@page "/bookedit/{bookId:guid}"
@inject IUnitOfWork unitOfWork;
@inject NavigationManager navigationManager;

<PageTitle>Book edit</PageTitle>
<h3>Edit book</h3>
<hr />


